<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccountService" />
                <binding name="BasicHttpBinding_IMatchmakingService" />
                <binding name="BasicHttpBinding_ICatalogService" />
                <binding name="BasicHttpBinding_IScoreService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IGameService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59294/Services/AccountService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService"
                contract="AccountServiceRef.IAccountService" name="BasicHttpBinding_IAccountService" />
            <endpoint address="http://localhost:59294/Services/MatchmakingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMatchmakingService"
                contract="MatchmakingServiceRef.IMatchmakingService" name="BasicHttpBinding_IMatchmakingService" />
            <endpoint address="http://localhost:59294/Services/CatalogService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogService"
                contract="CatalogServiceRef.ICatalogService" name="BasicHttpBinding_ICatalogService" />
            <endpoint address="http://localhost:59294/Services/ScoreService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScoreService"
                contract="ScoreServiceRef.IScoreService" name="BasicHttpBinding_IScoreService" />
            <endpoint address="http://localhost:59294/Services/GameService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IGameService"
                contract="GameServiceRef.IGameService" name="WSDualHttpBinding_IGameService">
                <identity>
                    <userPrincipalName value="ASUSVIVOBOOK\migue" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>